<%- include('partials/head') %>
<!-- Navigation-->
<%- include('partials/nav') %>
<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url(&quot;/assets/img/post-bg.jpg&quot;)"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading">
          <h1><%= posts.Title %></h1>

          <span class="meta"> Posted by: <%= posts.createdAt %> </span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Post Content-->
<article class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p><%- posts.Body %></p>
      </div>
    </div>
  </div>
</article>
<%- include('partials/footer') %>
